@import url("https://fonts.googleapis.com/css?family=Barlow:400,600|DM+Sans:400,500,700&display=swap");
/* font-family: 'DM Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'IBM Plex Sans', sans-serif; */
html,
body {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-size: 16px;
  vertical-align: baseline;
  /* background-color: #f0f5f9; */
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow-x: hidden; */
  /* cursor: none; */
}
canvas {
  z-index: -1;
}
a {
  color: inherit;
  text-decoration: inherit;
}
/* CSS Variables Font and Text */
:root {
  --white: #f5f8fc;
  --red: #d2290a;
  --light-blue: #c0d1fc;
  --medium-blue: #84a4f6;
  --dark-blue: #304fa1;
  --darker-blue: #283e82;
  --light-gray: #dadfe8;
  --medium-gray: #9dacca;
  --dark-gray: #111e47;
}
.textLabel {
  color: var(--white, white);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
.textHeadline {
  color: var(--dark-gray, black);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 6rem;
  line-height: 6.25rem;
}
.textSubhead {
  color: var(--dark-gray, black);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}
.textParagraph {
  color: var(--darker-blue, darkslategray);
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* ENDOF CSS Variables Font and Text */

/* Hero Css */
.heroSection {
  width: 100vw;
  height: 100vh;
}
.fullWidthHero {
  height: 600px;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 100vh;
  background-color: var(--white, white);
}
.heroImage {
  height: 100vh;
}
.heroLogoLayer {
  background-image: url("assets/heroImages/herologolayer.svg");
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.heroForeground {
  /* background-image: url("assets/heroImage.jpg"); */
  background-image: url("assets/heroImages/foreground.png");
  background-size: cover;
  background-position: center bottom;
  /* background-position: center bottom; */
  background-repeat: no-repeat;
  height: 105%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* transform: scale(1.1); */
  /* position: absolute; */
}
.heroMidground {
  /* background-image: url("assets/heroImage.jpg"); */
  background-image: url("assets/heroImages/midground.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  /* position: absolute; */
}
.heroBackground {
  /* background-image: url("assets/heroImage.jpg"); */
  background-image: url("assets/heroImages/background.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  /* position: absolute; */
}

/* Wrapper and Background CSS */
.wrapper {
  max-width: 1600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.Bg {
  background-color: var(--white, white);
  overflow: hidden;
}
/* Section CSS */
.sectionContainer {
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 200px 0px 200px 0;
  position: relative;
}
.sectionTagContainer {
  width: 30%;
}
.sectionTag {
  background-color: var(--medium-blue, lightblue);
  color: var(--white, white);
  padding: 16px 50px 15px 16px;
  width: max-content;
  text-transform: uppercase;
  clip-path: polygon(98% 50%, 85% 100%, 0 100%, 0 0, 85% 0);
}
.sectionTagFullWidth {
  background-color: var(--dark-gray, rgb(7, 32, 87));
}
.sectionContentContainer {
  width: 70%;
}
.sectionTitle {
  margin-top: -15px;
}
.sectionPara {
  margin-top: 50px;
}
.sectionImage {
  object-position: bottom;
  margin-top: 20px;
  width: 100%;
  object-fit: cover;
}
/* Section Stats */

.sectionStatContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sectionStatContentPart {
  width: 45%;
}

/* Wrapper Breaking Content */
.fullWidthGrayContainer {
  padding: 0 200px 0 200px;
  width: 100vw;
  margin-left: 40%;
  overflow: hidden;
  /* left: -50%; */
  left: -50vw;
  /* margin: 0 auto; */
  height: calc(100% + 300px);
  position: absolute;
  /* margin: 0 auto; */
  z-index: -1;
  top: -170px;
  background-color: var(--light-gray, lightgray);
}
/* Video Content */
.videoContainer {
  margin-top: 135px;
}
.videoSize {
  width: 100%;
  box-shadow: 0px 32px 69px rgba(7, 38, 119, 0.18);
}

/* Team Section */
.teamSectionContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.teamMemberContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}
.memberImage {
  border-radius: 100%;
  width: 200px;
  /* height: 100%; */
  object-fit: contain;
}
.memberPosition {
  font-size: 1.625rem;
  text-align: center;
  color: #f0f5f9;
  margin: 5px 0px;

  text-align: center;

  background-color: #84a4f6;
  padding: 6px 10px 6px 10px;
  margin-top: 20px;
  width: max-content;
}
.memberName {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: regular;
  font-size: 1.5rem;
  text-align: center;
  color: var(--dark-gray, black);
  margin: 0px 21px;
  margin-top: 5px;
  text-align: center;
  width: max-content;
}
/* Footer CSS */

.footerContainer {
  margin-top: 150px;
  height: 150px;
  padding-top: 5px;
  width: 100%;
  background-color: var(--light-gray, lightgray);
  display: flex;
  flex-direction: row;
  margin: 120px 0 0px 0;
  padding-bottom: 0;
}
.footerLogo {
  height: 125px;
  width: 125px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("assets/footerLogo.svg");
}
.footerLogoContainer {
  width: 50%;
}
.footerInformation {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}
/* Donate Button */
.donateButton {
  color: var(--white, white);
  background-color: var(--medium-blue, lightblue);
  width: fit-content;
  text-align: center;
  margin-top: 30px;
  padding: 20px 80px 20px 80px;
  font-size: 1.75rem;
  /* height: 50px; */
  border-radius: 3px;
  transition: 0.213s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0;
}
.donateButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 6px 14px rgba(132, 164, 246, 0.65);
}
/* Responsiveness */

/* @media only screen and (max-width: 1700px) {
  .wrapper {
    max-width: 1400px;
  }
} */
.fullWidthFooterContainer {
  height: calc(100% + 100px);
  top: -65px;
}
.footerContainer {
  height: 200px;
}
@media only screen and (max-width: 1700px) {
  .wrapper {
    max-width: 1200px;
  }
  .fullWidthGrayContainer {
    left: -75%;
  }
  .fullWidthFooterContainer {
    height: calc(100% + 100px);
    top: -65px;
  }
  .footerContainer {
    height: 150px;
  }
}

@media only screen and (max-width: 1300px) {
  .sectionPara {
    margin-top: 20px;
  }
  .sectionContainer {
    /* margin: 50px 0 50px 0; */
    margin: 120px 0 120px 0;
  }

  .fullWidthGrayContainer {
    height: calc(100% + 100px);
    top: -65px;
  }
  .fullWidthFooterContainer {
    height: calc(100% + 100px);
    top: -65px;
  }
  .videoContainer {
    margin-top: 100px;
  }
  .fullWidthGrayContainer {
    left: -70%;
  }
  .wrapper {
    max-width: 1000px;
    /* display: none; */
  }
  html {
    font-size: 10px;
  }
  .sectionTag {
    padding: 10px 35px 10px 11px;
  }
}

@media only screen and (max-width: 1050px) {
  .wrapper {
    max-width: 800px;
    /* display: none; */
  }
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 1050px) {
  .sectionTitle {
    margin-top: 20px;
  }
  .wrapper {
    justify-content: center;
  }
  .sectionContainer {
    justify-content: center;
  }
  .sectionContentContainer {
    width: 100%;
  }
  .sectionTagContainer {
    width: 100%;
  }
  .memberImage {
    width: 150px;
  }
}

@media only screen and (max-width: 850px) {
  .wrapper {
    max-width: 500px;
    /* min-width: 300px; */
  }
  html {
    font-size: 8px;
  }
  .footerContainer {
    /* flex-direction: row; */
    flex-direction: column;
    flex-flow: column;
  }
  .footerInformation {
    width: 100%;
    margin-bottom: 70px;
  }
  .footerLogo {
    height: 75px;
  }
}
@media only screen and (max-width: 550px) {
  .wrapper {
    max-width: 375px;
    /* min-width: 300px; */
  }
  .sectionContainer {
    /* margin: 50px 0 50px 0; */
    margin: 50px 0 50px 0;
  }
  .memberImage {
    width: 125px;
  }
  .teamMemberContainer {
    width: 25%;
  }
}

@media only screen and (max-width: 400px) {
  .wrapper {
    max-width: 325px;
    /* min-width: 300px; */
  }
  .textHeadline {
    font-size: 4.75rem;
    line-height: 5.5rem;
  }
  .memberImage {
    width: 150px;
  }
  .textParagraph {
    font-size: 2rem;
    line-height: 3rem;
  }
}
/* Force Render */
.footerContainer {
  margin: 120px 0 0px 0;
}

@media only screen and (max-width: 1800px) {
  .fullWidthGrayContainer {
    left: -100%;
    width: 200vw;
    left: -100vw;
  }
}
